---
layout: layouts/base.njk
permalink: /o-nama/
title: "SMIŽ - O nama"
description: "SMIŽ - Naša priča, vrednosti i standardi. Više od tri decenije razvijamo, proizvodimo i servisiramo vrata i zaštitna rešenja po meri." 
ogTitle: "SMIŽ - O nama"
ogDescription: "Porodična firma iz Užica sa iskustvom od 1996. godine i kompletnom uslugom: projektovanje, proizvodnja, ugradnja i servis."
ogImage: "/images/logo-mini.png"
pageType: about
isProductPage: false
---

{% extractMain "pages/about.html" %}
