---
layout: layouts/base.njk
permalink: /proizvodi/automatska-vrata/
title: "SMIŽ - Automatska vrata"
description: "SMIŽ - Automatska vrata GEZE. Pouzdana klizna i krilna rešenja za objekte sa visokim protokom ljudi i zahtevima za komfor i bezbednost."
ogTitle: "SMIŽ - Automatska vrata"
ogDescription: "Automatska klizna i krilna vrata GEZE za bolnice, poslovne i javne objekte. Precizna ugradnja i stručan servis."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/automatska-vrata.html" %}
