---
layout: layouts/base.njk
permalink: /proizvodi/bolnicka-vrata/
title: "SMIŽ - Bolnička vrata"
description: "SMIŽ - Bolnička vrata za operacione sale, intenzivnu negu i bolesničke sobe. Rešenja po meri sa fokusom na higijenu i bezbednost."
ogTitle: "SMIŽ - Bolnička vrata"
ogDescription: "Specijalizovana vrata za zdravstvene ustanove: higijenski standardi, funkcionalnost i dugotrajnost u svakodnevnoj upotrebi."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/bolnicka-vrata.html" %}
