---
layout: layouts/base.njk
permalink: /kontakt/
title: "SMIŽ - Kontakt"
description: "SMIŽ - Kontakt i podrška. Pišite nam za ponude, projektovanje, ugradnju i servis vrata i zaštitnih sistema."
ogTitle: "SMIŽ - Kontakt"
ogDescription: "Kontaktirajte SMIŽ tim za ponude, tehničke konsultacije i servis. Dostupni smo telefonom i email-om."
ogImage: "/images/logo-mini.png"
pageType: contact
isProductPage: false
---

{% extractMain "pages/contact.html" %}
