---
layout: layouts/base.njk
permalink: /proizvodi/garazna-vrata/
title: "SMIŽ - Garažna vrata"
description: "SMIŽ - Garažna vrata Hörmann. Segmentna, Berry kipujuća i RollMatic rolo vrata za privatne i zajedničke garaže."
ogTitle: "SMIŽ - Garažna vrata"
ogDescription: "Pouzdana garažna vrata Hörmann sa modernim dizajnom, bezbednim pogonom i dugim vekom trajanja."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/garazna-vrata.html" %}
