---
layout: layouts/base.njk
permalink: /proizvodi/industrijska-vrata/
title: "SMIŽ - Industrijska vrata"
description: "SMIŽ - Industrijska vrata Hörmann. Segmentna, brza i rolo vrata, kao i pretovarna tehnika za proizvodne pogone i logističke centre."
ogTitle: "SMIŽ - Industrijska vrata"
ogDescription: "Robusna Hörmann rešenja za industriju i logistiku: vrata visokih performansi, sigurnost i pouzdan rad u smenama."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/industrijska-vrata.html" %}
