---
layout: layouts/base.njk
permalink: /proizvodi/primax/
title: "SMIŽ - PRIMAX zaštitna rešenja"
description: "SMIŽ - PRIMAX zaštitna rešenja. Kompletan program opreme i sredstava za zaštitu od jonizujućeg zračenja."
ogTitle: "SMIŽ - PRIMAX zaštitna rešenja"
ogDescription: "PRIMAX program obuhvata zaštitna stakla, limove, ploče, prizme i zaštitnu garderobu za zahtevne profesionalne uslove."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/primax.html" %}
