---
layout: layouts/base.njk
permalink: /proizvodi/unutrasnja-vrata/
title: "SMIŽ - Unutrašnja vrata"
description: "SMIŽ - Unutrašnja vrata po meri sa HPL oblogama i metalnim štokovima. Kvalitetna izrada za bolnice, škole i poslovne prostore."
ogTitle: "SMIŽ - Unutrašnja vrata"
ogDescription: "Unutrašnja vrata za različite namene, izrađena po meri i prilagođena zahtevima prostora i intenzitetu upotrebe."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/unutrasnja-vrata.html" %}
