---
layout: layouts/base.njk
permalink: /proizvodi/zastita-od-radijacije/
title: "SMIŽ - Olovna stakla i olovni limovi"
description: "SMIŽ - Olovna stakla i olovni limovi za zaštitu od jonizujućeg zračenja u zdravstvenim i industrijskim objektima."
ogTitle: "SMIŽ - Olovna stakla i olovni limovi"
ogDescription: "Kompletna rešenja zaštite od zračenja: olovna stakla, limovi, ploče i prizme za medicinske i tehničke prostore."
ogImage: "/images/logo-mini.png"
pageType: product
isProductPage: true
---

{% extractMain "pages/zastita-od-radijacije.html" %}
