---
layout: layouts/base.njk
permalink: /
title: "SMIŽ - Vrata, rešenja i zaštita"
description: "SMIŽ - projektovanje, proizvodnja, ugradnja i servis vrata i zaštitnih sistema. Automatska, bolnička, industrijska i specijalna vrata po meri."
ogTitle: "SMIŽ - Vrata, rešenja i zaštita"
ogDescription: "Porodična firma iz Užica, osnovana 1996. Pouzdana rešenja za vrata i zaštitne sisteme, sa kompletnom podrškom od ideje do servisa."
ogImage: "/images/logo-mini.png"
pageType: home
isProductPage: false
---

{% extractMain "index.html" %}
